---
layout: archive
title: "Acknowledgements"
permalink: /acknowledgements.html/
author_profile: true
---

<link rel="stylesheet" href="/assets/css/acknowledgements.css">

<br>
I like to think of myself as a culmination of all these people 😊
<br>

<h1>Family</h1>
<div class="acknowledgements-grid">
  {% for person in site.data.acknowledgements.family %}
    {% include acknowledgement-card.html 
       image=person.image
       name=person.name
       description=person.description %}
  {% endfor %}
</div>

<br>
<h1>Friends</h1>
<div class="acknowledgements-grid">
  {% for person in site.data.acknowledgements.friends %}
    {% include acknowledgement-card.html 
       image=person.image
       name=person.name
       description=person.description %}
  {% endfor %}
</div>
