/* About Page Styles */
.linkedin-btn {
  background-color: #ffffff;
  color: #000;
  padding: 10px 20px;
  border: solid;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.linkedin-btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
